:root {
    --background-color: #3B4252;
    --text-color:#E5E9F0;
    --text-visit: #5E81AC;
    --text-hover: #88C0D0;
    --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, 'Microsoft YaHei', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Noto Color Emoji';
    --font-body:14px;
    --font-title:20px
}


body {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Top page elements */
header, nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
}

/* Titles */

h1, h2 {
    font-family: var(--font-family);
    font-size: var(--font-title);
    margin: 10px 10px;
}

/* Text */

p, a, li {
    font-family: var(--font-family);
    font-size: var(--font-body);
    margin: 4px 10px;
    text-decoration: none;
}

blockquote {
    font-style: italic;
}

/* Any type of clickable link */

a:any-link {
    color: var(--text-visit);
}

a:hover {
    color: var(--text-hover);
}

.container > footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #2E3440;
    border-radius: 35px;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #D8DEE9;
        --text-color:#2E3440;
        --text-visit: #5E81AC;
        --text-hover: #88C0D0;
    }
}


