:root {
    --background-color: #3B4252;
    --boxed-background: #2E3440;
    --blockquote-left-border: #dfe2e5;
    --text-color: #E5E9F0;
    --text-visit: #88C0D0;
    --text-hover: #8FBCBB;
    --font-title-weight: 600px;
    --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, 'Microsoft YaHei', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Noto Color Emoji';
    --font-title: 20px;
    --font-author: small;
    --font-body: medium;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Top page elements */
.header-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
}

.header-nav > header > a > h1 {
    font-weight: var(--font-title-weight);
    font-family: var(--font-family);
    font-size: var(--font-title);
    line-height: 1.25;
}

header {
    display: flex;
    gap: 5px;
    flex-direction: row;
    justify-content: center;
}

nav {
    display: flex;
    gap: 10px;
    justify-content: center;
}

/* Article elements */

.article-header > h1 {
    font-weight: var(--font-title-weight);
    font-family: var(--font-family);
    font-size: var(--font-title);
    line-height: 1.25;
    text-align: center;
}

.article-content > h2, h3, h4, h5, h6 {
    font-weight: var(--font-title-weight);
    font-family: var(--font-family);
    font-size: var(--font-title); 
    line-height: 1.25;
}

.author-date {
    font-family: var(--font-family);
    font-size: var(--font-author);
    text-align: center;
}

.article-content > p, a, li {
    font-family: var(--font-family);
    font-size: var(--font-body);
    text-decoration: none;
}

/* Table of contents */

nav.toc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

nav.toc > p {
    font-family: var(--font-family);
    font-size: var(--font-title);
}

nav#TableOfContents > ul, p{
    margin: 0;
    padding-left: 10;
}

nav#TableOfContents > ul {
    margin-bottom: 1.2em;
}

/* Lists */

.List > h2 {
    font-weight: var(--font-title-weight);
    font-family: var(--font-family);
    font-size: var(--font-title);
    line-height: 1.25;
    text-align: center;
}

.list-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    justify-items: center;
    text-align: center;
}

.list-items > span > p {
    font-family: var(--font-family);
    font-size: var(--font-body);
    text-align: left;
}

/* Avoid weird spaces when a link is nested inside a paragraph */
p > a {
    margin: auto;
}

li > a {
    margin: auto;
}

blockquote {
    font-family: var(--font-family);
    font-size: var(--font-body);
    font-style: italic;
    padding-left: .5em;
    border-left: .25em solid var(--blockquote-left-border);
}

/* Any type of clickable link */

a:any-link {
    color: var(--text-visit);
}

a:hover {
    color: var(--text-hover);
}

/* footer with copyright information */

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--boxed-background);
    border-radius: 35px;
}

footer > p {
    font-family: var(--font-family);
    font-size: var(--font-body);
    text-decoration: none;
}

/* 404 */

.error404 {
    text-align: center;
}

.error404 > h1 {
    font-weight: var(--font-title-weight);
    font-family: var(--font-family);
    font-size: var(--font-title);
    line-height: 1.25;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #D8DEE9;
        --boxed-background: #ECEFF4;
        --blockquote-left-border: #2E3440;
        --text-color:#2E3440;
        --text-visit: #5E81AC;
        --text-hover: #88C0D0;
    }
}
