:root {
    --background-color: #3B4252;
    --boxed-background: #2E3440;
    --text-color:#E5E9F0;
    --text-visit: #88C0D0;
    --text-hover: #8FBCBB;
    --font-title-weight: 600px;
    --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, 'Microsoft YaHei', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Noto Color Emoji';
    --font-title:20px;
    --font-body:14px;
    margin-left: 10%;
    margin-right: 10%;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Top page elements */
header, nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
}

header > a > h1 {
    font-weight: var(--font-title-weight);
    font-family: var(--font-family);
    font-size: var(--font-title);
    line-height: 1.25;
}

/* Article elements */

article > h1 {
    text-align: center;
}

article > h1, h2, h3, h4, h5, h6 {
    font-weight: var(--font-title-weight);
    font-family: var(--font-family);
    font-size: var(--font-title);
    line-height: 1.25;
    margin-left: 10px;
}

.author-date > p {
    text-align: center;
}

article > p, a, li {
    font-family: var(--font-family);
    font-size: var(--font-body);
    margin-left: 10px;
    text-decoration: none;
}

/* Table of contents */

nav#TableOfContents {
    display: flex;
    float: right;

}

nav#TableOfContents > ul {
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

/* Lists */

.List > h2 {
    font-weight: var(--font-title-weight);
    font-family: var(--font-family);
    font-size: var(--font-title);
    line-height: 1.25;
    margin-left: 10px;
}

.List > ul {
    font-family: var(--font-family);
    font-size: var(--font-body);
    margin-left: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

/* Avoid weird spaces when a link is nested inside a paragraph */
p > a {
    margin: auto;
}

li > a {
    margin: auto;
}

blockquote {
    font-family: var(--font-family);
    font-size: var(--font-body);
    font-style: italic;
    padding-left: .5em;
    border-left: .25em solid #dfe2e5;
}

/* Any type of clickable link */

a:any-link {
    color: var(--text-visit);
}

a:hover {
    color: var(--text-hover);
}

/* footer with copyright information */

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--boxed-background);
    border-radius: 35px;
}

footer > p {
    font-family: var(--font-family);
    font-size: var(--font-body);
    text-decoration: none;
}

/* 404 */

.error404 {
    text-align: center;
}

.error404 > h1 {
    font-weight: var(--font-title-weight);
    font-family: var(--font-family);
    font-size: var(--font-title);
    line-height: 1.25;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #D8DEE9;
        --boxed-background: #ECEFF4;
        --text-color:#2E3440;
        --text-visit: #5E81AC;
        --text-hover: #88C0D0;
    }
}


