:root {
  --background-color: #2e3440;
  --boxed-background: #3b4252;
  --blockquote-left-border: #d8dee9;
  --text-color: #eceff4;
  --text-visit: #88c0d0;
  --text-hover: #5e81ac;
  --font-title-weight: 600px;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "Microsoft YaHei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Noto Color Emoji";
  --font-title: 20px;
  --font-author: small;
  --font-body: medium;
  --margin-horizontal: 10%;
  --line-height: 1.25;
  height: 100vh;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  position: relative;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
}

/* Top page elements */
.header-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  background-color: var(--boxed-background);
  margin-bottom: 10px;
  border-radius: 0px 0px 20px 20px;

  h1 {
    font-weight: var(--font-title-weight);
    color: var(--text-color);
    font-size: var(--font-title);
    /* Firefox */
    white-space: nowrap;
  }

  nav {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
}

header {
  display: flex;
  font-family: var(--font-title);
  gap: 5px;
  flex-direction: row;
  justify-content: center;
  min-height: 50px;

  & > a {
    display: flex;
  }
}

/* Article labels */

.article-labels {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  justify-items: center;
  margin: 0 var(--margin-horizontal);
}

/* Article elements */

main {
  margin: auto var(--margin-horizontal);
  background-color: var(--boxed-background);
  border-radius: 10px;
  padding: 5px 10px;
}

.article-header > h1 {
  font-weight: var(--font-title-weight);
  font-size: var(--font-title);
  line-height: var(--line-height);
  text-align: center;
}

.author-date {
  font-size: var(--font-author);
  text-align: center;
  & > p > a {
    font-size: var(--font-author);
  }
}

:is(h2, h3, h4, h5, h6) {
  font-weight: var(--font-title-weight);
}

.article-content > p,
a {
  font-size: var(--font-body);
  text-decoration: none;
}

.article-content > p {
  margin-bottom: 15px;
  word-wrap: break-word;
}

/* Table of contents */

summary {
  font-size: var(--font-title);
  user-select: none;

  &:hover {
    cursor: pointer;
  }
}

nav#TableOfContents {
  display: inherit;
}

/* Lists */

.list {
  margin: auto var(--margin-horizontal);
  h1 {
    font-weight: var(--font-title-weight);
    font-size: var(--font-title);
    line-height: var(--line-height);
    text-align: center;
  }

  &-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    animation: slideIn 1s;

    p {
      margin: 0;
    }

    article {
      font-size: var(--font-body);
      text-align: center;
      width: 100%;
      &:nth-child(1) {
        grid-column: 2 span / auto;
      }
    }
  }
}

/* Avoid weird spaces when a link is nested inside a paragraph */
p > a {
  margin: auto;
}

li > a {
  margin: auto;
}

/* Code blocks */

pre {
  overflow-x: auto;
  font-family: "JetBrainsMono-Regular", Arial, Helvetica, sans-serif;
  font-size: 13px;
}

/* Blockquotes */

blockquote {
  font-size: var(--font-body);
  font-style: italic;
  word-wrap: break-word;
  padding-left: 0.5em;
  border-left: 0.25em solid var(--blockquote-left-border);
}

/* Images with text */

figure {
  border-style: var(--blockquote-left-border);
  border-left: dotted;
  border-right: dotted;
  display: grid;
  justify-items: center;
  figcaption > * {
    text-align: center;
    margin: 0.1px;
  }
}

/* Images with markdown style */

p > img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

/* Any type of clickable link */

a {
  &:any-link {
    color: var(--text-visit);
  }
  &:hover {
    color: var(--text-hover);
  }
}

/* Article related */

.article-related {
  display: flex;
  justify-content: space-around;
  margin: 0 var(--margin-horizontal);
}

/* Article license */

.article-license {
  display: flex;
  justify-content: center;
}

/* Index container */

.index-container {
  margin: auto var(--margin-horizontal);

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  li {
    list-style-type: none;
    animation: slideIn 1s;
    animation-fill-mode: backwards;
  }

  @for $i from 1 through 5 {
    li:nth-child(#{$i}) {
      animation-delay: #{$i * 0.06}s;
    }
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Footer with copyright information */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--boxed-background);
  min-height: 70px;
  width: 100%;
  position: sticky;
  top: 100vh;
  border-radius: 20px 20px 0 0;

  & > p {
    font-size: var(--font-body);
    text-decoration: none;
    margin: 0;
  }
}

/* 404 */

.error404 {
  text-align: center;

  & > h1 {
    font-weight: var(--font-title-weight);
    font-size: var(--font-title);
    line-height: var(--line-height);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #eceff4;
    --boxed-background: #d8dee9;
    --blockquote-left-border: #3b4252;
    /* For some reason it triggers ACPA -80 but
    it makes no sense imo */
    --text-color: #2e3440;
    --text-visit: #5e81ac;
    --text-hover: #bf616a;
  }
}

@media (prefers-reduced-motion) {
  .list-items {
    animation: none;
  }
  .index-container {
    li {
      animation: none;
    }
  }
}

@font-face {
  font-family: "JetBrainsMono-Regular";
  src: url("/JetBrainsMono-2.242/fonts/webfonts/JetBrainsMono-Regular.woff2");
  font-display: swap;
}
