:root {
  --background-color: #eceff4;
  --boxed-background: #d8dee9;
  --blockquote-left-border: #3b4252;
  --text-color: #2e3440;
  --text-visit: #5e81ac;
  --text-hover: #bf616a;
  --font-title-weight: 600px;
  --font-family: "Noto Sans";
  --font-title: 20px;
  --margin-horizontal: 10%;
  --line-height: 1.25;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Noto Sans";
  src: url("/Noto Sans/NotoSans-VariableFont_wdth,wght.ttf");
  font-display: swap;
}

body {
  font-family: var(--font-family);
  position: relative;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  padding: 0 100px;
}

/* Top page elements */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--boxed-background);
  margin-bottom: 10px;
  border-radius: 0 0 10px 10px;

  .header_logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-weight: var(--font-title-weight);
    color: var(--text-color);
    font-size: var(--font-title);
  }

  nav {
    display: flex;
    gap: 10px;
  }
}

/* Article labels */

.article-labels {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  justify-items: center;
  margin: 0 var(--margin-horizontal);
}

/* Index */

.index_flex {
  display: flex;
  animation: slideIn 1s forwards;
}

/* Article elements */

main {
  margin: 10px 10px;
  background-color: var(--boxed-background);
  border-radius: 10px;
  padding: 5px 10px;

  h1 {
    font-weight: var(--font-title-weight);
    font-size: var(--font-title);
    line-height: var(--line-height);
    text-align: center;
  }
}

.author-date {
  font-size: var(--font-author);
  text-align: center;

  &>p>a {
    font-size: var(--font-author);
  }
}

:is(h2, h3, h4, h5, h6) {
  font-weight: var(--font-title-weight);
}


/* Table of contents */

summary {
  font-size: var(--font-title);
  user-select: none;

  &:hover {
    cursor: pointer;
  }
}


/* Lists */

.list {
  margin: auto var(--margin-horizontal);

  h1 {
    font-weight: var(--font-title-weight);
    font-size: var(--font-title);
    line-height: var(--line-height);
    text-align: center;
  }

  .list_items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    animation: slideIn 1s;

    article {

      h1,
      p {
        text-align: left;
      }
    }
  }
}

/* Code blocks */

pre {
  font-family: "JetBrainsMono-Regular", Arial, Helvetica, sans-serif;
  font-size: 13px;
}

blockquote {
  font-size: var(--font-body);
  font-style: italic;
  word-wrap: break-word;
  padding-left: 0.5em;
  border-left: 0.25em solid var(--blockquote-left-border);
}

/* Images with text */

figure {
  border-style: var(--blockquote-left-border);
  border-left: dotted;
  border-right: dotted;
  display: grid;
  justify-items: center;

  img {
    max-width: 100%;
  }

  figcaption {
    text-align: center;
  }
}

/* Any type of clickable link */

a {
  text-decoration: none;

  &:any-link {
    color: var(--text-visit);
  }

  &:hover {
    color: var(--text-hover);
  }
}

/* Article related */

.article-related {
  display: flex;
  justify-content: space-around;
  margin: 0 var(--margin-horizontal);
}

/* Article license */

.article-license {
  display: flex;
  justify-content: center;
}

/* Latest containers2 */

.latest_articles {
  margin: 10px 10px;

  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;

    h2,
    p {
      margin: 0;
    }
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Footer with copyright information */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--boxed-background);
  min-height: 70px;
  width: 100%;
  position: sticky;
  top: 100vh;
  border-radius: 10px 10px 0 0;

  p {
    font-size: var(--font-body);
    text-decoration: none;
    margin: 0;
  }
}

/* 404 */

.error404 {
  text-align: center;

  &>h1 {
    font-weight: var(--font-title-weight);
    font-size: var(--font-title);
    line-height: var(--line-height);
  }
}


@media (prefers-reduced-motion) {
  .list_items {
    animation: none;
  }

  .index-container {
    li {
      animation: none;
    }
  }
}