:root {
  --background-color: #2e3440;
  --boxed-background: #3b4252;
  --blockquote-left-border: #d8dee9;
  --text-color: #eceff4;
  --text-visit: #88c0d0;
  --text-hover: #5e81ac;
  --font-title-weight: 600px;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, "Microsoft YaHei", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Noto Color Emoji";
  --font-title: 20px;
  --font-author: small;
  --font-body: medium;
  --margin-left: 10%;
  --marging-right: 10%;
  --line-height: 1.25;
  height: 100vh;
}

body {
  position: relative;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
}

/* Top page elements */
.header-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  background-color: var(--boxed-background);
  margin-bottom: 10px;
}

.header-nav > header > a > h1 {
  font-weight: var(--font-title-weight);
  font-family: var(--font-family);
  font-size: var(--font-title);
  line-height: var(--line-height);
}

header {
  display: flex;
  gap: 5px;
  flex-direction: row;
  justify-content: center;
  min-height: 50px;
}

nav {
  display: flex;
  gap: 10px;
  justify-content: center;
}

/* Article labels */

.article-labels {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  justify-items: center;
}

.article-labels > .categories,
.tags > p {
  font-family: var(--font-family);
  font-size: var(--font-body);
  justify-content: center;
}

/* Article elements */

article {
  margin-left: var(--margin-left);
  margin-right: var(--marging-right);
  background-color: var(--boxed-background);
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.article-header > h1 {
  font-weight: var(--font-title-weight);
  font-family: var(--font-family);
  font-size: var(--font-title);
  line-height: var(--line-height);
  text-align: center;
}

.article-content > h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-title-weight);
  font-family: var(--font-family);
  font-size: var(--font-title);
  line-height: var(--line-height);
}

.author-date {
  font-family: var(--font-family);
  font-size: var(--font-author);
  text-align: center;
}

.author-date > p > a {
  font-size: var(--font-author);
}

.article-content > p,
a,
li {
  font-family: var(--font-family);
  font-size: var(--font-body);
  text-decoration: none;
}

.article-content > p {
  margin-bottom: 15px;
}

.article-content > img {
  display: block;
  margin: 0 auto;
}

pre {
  overflow-x: auto;
}

/* Table of contents */

nav.toc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

nav.toc > p {
  font-family: var(--font-family);
  font-size: var(--font-title);
}

nav#TableOfContents > ul,
p {
  margin: 0;
}

nav#TableOfContents > ul {
  margin-bottom: 1.2em;
}

/* Lists */

.List {
  margin-left: var(--margin-left);
  margin-right: var(--marging-right);
}

.List > h2 {
  font-weight: var(--font-title-weight);
  font-family: var(--font-family);
  font-size: var(--font-title);
  line-height: var(--line-height);
  text-align: center;
}

.list-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  justify-items: center;
}

.list-items > span {
  width: 100%;
}

.list-items > span > p {
  font-family: var(--font-family);
  font-size: var(--font-body);
  text-align: left;
}

/* Avoid weird spaces when a link is nested inside a paragraph */
p > a {
  margin: auto;
}

li > a {
  margin: auto;
}

blockquote {
  font-family: var(--font-family);
  font-size: var(--font-body);
  font-style: italic;
  padding-left: 0.5em;
  border-left: 0.25em solid var(--blockquote-left-border);
}

/* Any type of clickable link */

a:any-link {
  color: var(--text-visit);
}

a:hover {
  color: var(--text-hover);
}

/* Article license */

.article-license {
  display: flex;
  justify-content: center;
  font-family: var(--font-family);
  font-size: var(--font-body);
}

.article-license > p {
  background-color: var(--background-color);
}

/* Footer with copyright information */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--boxed-background);
  min-height: 50px;
  width: 100%;
  position: sticky;
  top: 100vh;
}

footer > p {
  font-family: var(--font-family);
  font-size: var(--font-body);
  text-decoration: none;
}

/* 404 */

.error404 {
  text-align: center;
}

.error404 > h1 {
  font-weight: var(--font-title-weight);
  font-family: var(--font-family);
  font-size: var(--font-title);
  line-height: var(--line-height);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #eceff4;
    --boxed-background: #d8dee9;
    --blockquote-left-border: #3b4252;
    /* For some reason it triggers ACPA -80 but
    it makes no sense imo */
    --text-color: #2e3440;
    --text-visit: #5e81ac;
    --text-hover: #bf616a;
  }
}
