{{- $date := time.Format .Site.Params.dateFormat .Date }}
{{- $lastmod := time.Format .Site.Params.dateFormat .Lastmod }}

{{if not .Site.Params.Author.github}}
<span class="author-date">
  <p>
    By {{ .Site.Params.Author.name }} ·
    Made at: {{ $date }} {{if ne $lastmod $date }} · Edited: {{- $lastmod }} {{ end }}
  </p>
</span>
{{ else }}
<span class="author-date">
  <p>
    By <a href="https://github.com/{{- .Site.Params.Author.github }}"> {{ .Site.Params.Author.name }} </a> · {{ end }}
    Made at: {{ $date }} {{if ne $lastmod $date }} · Edited: {{ $lastmod }}
  </p>
</span>
{{ end }}