{{ define "main" }}

<div class="index_flex">
  <main>
    <h1>{{- .Title }}</h1>
    <div class="main_content">
      {{- .Content }}
    </div>
  </main>

  <div class="latest_articles">
    <nav>
      <p>Blogs</p>
      <ul>
        {{ range first 5 ( where .Site.RegularPages "Type" "in" site.Params.mainSections )}}
        <li>
          <a href="{{- .Permalink }}">
            <h2>{{- .Title}}</h2>
            <p>{{- .Description }}</p>
          </a>
        </li>
        {{ end }}
      </ul>
    </nav>
  </div>
</div>
{{ end }}